/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Laravel keys & environment files
storage/*.key
.env
.env.backup
.env.production

# Laravel Homestead
Homestead.yaml
Homestead.json

# Vagrant
/.vagrant

# PHPUnit
.phpunit.result.cache

# Build files
/public/build

# Laravel 10+ pail storage
/storage/pail

# IDE / tools
.phpactor.json
auth.json
